@tailwind base;

@tailwind components;

@tailwind utilities;


.poster-size{
  max-width: 220px;
  max-height: 330px;
}

.custom-black-1{
  background-color: #202124;
}

.rem-18{
  width: 22rem;
}


.custom-gray-1{
  background-color: #3C4043;
}

.custom-gray-0{
  background-color: #222222;
}

.custom-gray-2{
  background-color: #333333;
}

.border-custom-gray-2{
  border: 2px solid #777777;
}

.text-custom-gray-2{
  color: #E1DEE7;
}

.text-custom-gray-3{
  color: rgba(255,255,255,0.5);
}

.border-r-custom-gray-2{
  border-right: 2px solid #777777;
}

.center-pos{
  top: 50%;
  left: 50%;
  transform: translate(-58%, -40%);
}

.all-box-shadow{
  -webkit-box-shadow: 0px 0px 23px -12px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 23px -12px rgba(0,0,0,1);
  box-shadow: 0px 0px 23px -12px rgba(0,0,0,1);
}

.all-box-shadow-white{
  -webkit-box-shadow: 0px 0px 23px -12px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 23px -12px rgba(255,255,255,1);
  box-shadow: 0px 0px 23px -12px rgba(255,255,255,1);
}

.all-border{
  border: 1px solid #1E2118;
}

.custom-border-b-gray-2{
  border-bottom: 2px solid #333333;
}

.custom-border-b-gray-2:hover{
  background-color: #555555;
}

.custom-gray-3{
  background-color: #444444;
}

.custom-gray-3-border-bottom{
  border-bottom:2px solid #444444;
}

.hover-gray{
  background-color: #FFFFFF;
}

.hover-gray:hover{
  background-color: rgba(0,0,0,0.4);
}

.font-blue-1{
  color:#23A8F2;
}

.border-btm-black03{
  border-bottom: 2px solid rgba(0,0,0,0.3);
}

.custom-gray-4{
  background-color: #555555;
}

.custom-gray-4{
  background-color: #555555;
}

.spinner{
    position: absolute;
}

.scroll-300{
    height: 350px;
    overflow-y: scroll;
}

.scroll-600{
    height: 650px;
    overflow-y: scroll;
    border-radius: 5px 0 0 5px;
}

.scroll-400{
    height: 400px;
    overflow-y: scroll;
    border-radius: 5px 0 0 5px;
}

.width-poster{
  width: 20rem;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
